<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="jumbotron-heading">Welcome to Book Shelf</h1>
      <p class="lead text-muted center">
        Your online home for keeping track of your favorite books! Log, rate,
        classify and take notes on books you've read or want to read.  Next
        time someone tells you to "Read a Book!", point them to Book Shelf!
      </p>
      <p class="center">
        <% if !@current_user %>
          <a href="/users/signup" class="btn btn-primary">Sign Up/Sign In</a>
        <% end %>
        <% if @current_user %>
          <a href="" class="btn btn-primary">Go to Dashboard</a>
        <% end %>
      </p>
    </div>
  </div>
</div>
<div class="album tet-muted">
  <div class="container">
    <div class="row">
      <div class="card">
        <img src="https://placekitten.com/280/280"/>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="card">
        <img src="https://placekitten.com/280/280"/>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="card">
        <img src="https://placekitten.com/280/280"/>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>
